@model TicketSupport.Models.tblnguoidung
@{
    Layout = null;
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
    <title>Official Signup Form Flat Responsive widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <!-- /fonts -->
    <!-- css -->
    <link href="~/Public/web/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Public/web/css/style.css" rel='stylesheet' type='text/css' media="all" />
    <!-- /css -->
</head>
<body>
    <h1 class="w3ls">Gửi mail hỗ trợ</h1>
    <div class="content-w3ls">
        <div class="content-agile1">
            @if (ViewBag.Success != null)
            {
                <h2 class="agileits1">Success</h2>
                <p class="agileits2">Mail đã được gửi thành công, hãy kiểm tra</p>
            }
            else
            {
                <h2 class="agileits1">Official</h2>
                <p class="agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            }
        </div>
        <div class="content-agile2">
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
            {
                
                <div class="form-control w3layouts">
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", @autofocus = "autofocus", @type = "email", @id = "email", @name = "email", @placeholder = "mail@example.com", @title = "Please enter a valid email", @required = "required" })
                </div>

               
                @Html.ValidationSummary(false, "", new { @class = "text-danger", style = "color: red; text-align: center" })

                <input type="submit" class="register" value="Send Mail">
                <div style="text-align:center; margin-top:10px;">
                    Bạn đã có tài khoản <a href="@Url.Action("Index", "Login")">Đăng nhập</a>
                </div>
            }

            <p class="wthree w3l">Fast Signup With Your Favourite Social Profile</p>
            <ul class="social-agileinfo wthree2">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</body>
</html>


