@model TicketSupport.Models.tblphongban

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="wrapper">
        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">Xác nhận xóa phòng ban này?</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="@Url.Action("Index", "PhanQuyen", new { area = "Admin" })" class="btn-sm btn-info">
                                    <i class="fa fa-long-arrow-alt-left"></i> Quay lại
                                </a>
                                <button class="btn-sm btn-danger" type="submit" name="Delete">
                                    Xóa [Del] <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã phòng ban</th>
                                    <th>Tên phòng ban</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.ma_phong_ban)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ten_phong_ban)
                                    </td>
                                    @*<td>
            @if (Model.trang_thai)
            {
                <span class="badge badge-success">Hoạt động</span>
            }
            else
            {
                <span class="badge badge-danger">Không hoạt động</span>
            }
        </td>*@

                                    <td>
                                        @if (Model.trang_thai == true)
                                        {
                                            <span class="badge badge-success">Hoạt động</span>
                                        }
                                        else if (Model.trang_thai == false)
                                        {
                                            <span class="badge badge-danger">Không hoạt động</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-secondary">Chưa xác định</span>
                                        }
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
